body {
  background-color: gray;
}

/* .box h2 {
  color: red;
} */

/* varios */

.titulo,
.ejemplo {
}

/* hermano cercano */

.box > .titulo {
  color: red;
}

/* hijos directos */

.box .titulo {
}

/* hermano */

.box + .titulo {
}

/* hermano a distancia */

.titulo ~ h2 {
}
