body {
  background-color: #333;
  color: #f0f0f0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 5px 10px;
  transition: background-color linear 0.3s, border ease 1s;
  border: 1px solid transparent;
}
li:hover {
  background-color: blue;
  border: 1px solid red;
}
