body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main {
  background-color: darkgray;
}

.logo {
  height: 100px;
  width: 100px;
  padding-left: 25px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 10px 10px 0;
}
.avatar {
  height: 50px;
  width: 50px;
  padding-left: 350px;
  padding-top: 10px;
}
h2 {
  text-align: center;
}
.banner {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 12px;
  scroll-snap-type: x mandatory;
}
.banner > .banner-item {
  background-color: #f9e722;
  max-width: 1000px;
  align-items: center;
  height: 500px;
  border-radius: 8px;
  scroll-snap-align: center;
}
.banner-item::scroll-maker {
  content: " ";
  display: inline;
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
}
.QHDN {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.publi-lolla {
  width: 500px;
  border: 1px solid;
  border-radius: 15px 15px 0 0;
}
.publi-fanta {
  width: 500px;
  border: 1px solid;
  border-radius: 15px 15px 0 0;
}

/* .logo1 {
  width: 600px;
} */
