@import url(./global.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  body {
    background: var(--fondo);
  }
   /* todos los h3 */
   h3{
    color: var(--primary);
    font-size: 18px;
  }

   /* comentarios de las cards */
   p{
    color: var(--secundary);
    margin-bottom: var(--marginbottom);
  }
  @media (width <= 375px){
     /* separacion entre cajas */

  .div-main{
    padding: 16px;
  }

 /* todo el header */
  header {
    background-color: var(--superficie2);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: sticky;
    top: 0;
  }
/* supuesto logo */
  .cuadradito {
    background: var(--primary-color);
    height: 30px;
    width: 60px;
    border-radius: var(--border4px);
  }
  /* futura barra de menu desplegable */
  .menu-button {
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
  }
  .rayita {
    height: 4px;
    width: 100%;
    margin: 3px;
    background: var(--primary);
    border-radius: 2px;
  }
  .formulario, .mas-info, .mapa{
    border: 1px solid var(--borde-negro);
    background: var(--superficie2);
    border-radius: var(--border4px);
    padding: 16px;
    margin-bottom: var(--marginbottom);
  }
  /* inputs y text area */
  .inputs, .selec{
    background: var(--fondo);
    color: var(--secundary);
    border: 1px solid var(--borde-negro);
    border-radius: var(--border4px);
    width: 100%;
    padding: 8px;
    margin-bottom: var(--marginbottom);
  }
  /* boton */
  .enviar{
    color: var(--primary);
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-claro));
    border: 1px solid var(--borde-negro);
    border-radius: var(--border4px);
    height: 35px;
    width: 100%;
    margin-bottom: var(--marginbottom);
    cursor: pointer;
  }
 .contacto{
    color: var(--primary);
 }
 .mapa{
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secundary);
 }
  }