:root {
  --primary-color: #6d28d9;
  --primary-color-claro: #8b5cf6;
  --secundario: #10b981;
  --acento: #f59e0b;
  --fondo: #121212;
  --superficie: #1e1e1e;
  --superficie2: #2d2d2d;
  --primary: #ffff;
}
